<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<body>
<header id="header" th:fragment="heaher">
    <div id="header-main" class="header-inner">
        <div class="outer">
            <a href="/" id="logo">
                <i class="logo"></i>
                <span class="site-title">胡先生河塘小鱼</span>
            </a>
            <nav id="main-nav">

                <a class="main-nav-link" href="/">鱼塘</a>

                <a class="main-nav-link" href="/popular">吃喝玩乐</a>
                
                <a class="main-nav-link" href="/about/lj">关于蔺江</a>

                <a class="main-nav-link" href="/about/me">关于胡先生</a>
                
                <a class="main-nav-link" href="/about/help">帮助</a>
            </nav>

            <div id="search-form-wrap">

                <form class="search-form">
                    <input type="text" class="ins-search-input search-form-input" placeholder="搜索"/>
                    <button type="submit" class="search-form-submit"></button>
                </form>
                <div class="ins-search">
                    <div class="ins-search-mask"></div>
                    <div class="ins-search-container">
                        <div class="ins-input-wrapper">
                            <input type="text" class="ins-search-input" placeholder="搜一下咯..."/>
                            <span class="ins-close ins-selectable"><i class="fa fa-times-circle"></i></span>
                        </div>
                        <div class="ins-section-wrapper">
                            <div class="ins-section-container"></div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</header>
</body>
</html>