<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="/head :: head"></head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/load.css">
</head>
<body>
<div id="container">
    <header id="header" th:replace="/header :: header"></header>

    <footer id="footer" th:replace="/footer :: footer"></footer>
</div>
<div>
</div>

<script src="/js/jquery.min.js"></script>
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script src="/js/index.js"></script>
<script src="/js/share.js"></script>
<script src="/js/jqPaginator.min.js"></script>
<script src="/admin/js/plugins/chosen/chosen.jquery.js"></script>
<!-- Custom Scripts -->
<script src="/js/insight.js"></script>
<script src="/js/lightgallery.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>