<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisher.mapper.UserMapper">
    <!--通过username获取user对象-->
    <select id="getUser" parameterType="String" resultType="user">
        SELECT id, name, mark from user where name = #{name}
    </select>

    <select id="getAllUsers" resultType="user">
        select id, name, mark from user;
    </select>

    <select id="getUserMark" resultType="java.lang.String">
        select mark from user where name = #{name}
    </select>
    
</mapper>